doctype html
block begin
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=1024')
    meta(http-equiv='Accept-CH', content='Viewport-Width')
    // Dexecure
    title CodeGame - Learn how to code by playing a game
    meta(name='description', content='Learn programming with a multiplayer live coding strategy game for beginners. Learn Python or JavaScript as you defeat ogres, solve mazes, and level up. Open source HTML5 game!')
    meta(property='og:title', content='CodeGame: Learn to Code by Playing a Game')
    meta(property='og:type', content='game')
    meta(property='og:site_name', content='CodeGame')
    link(rel='stylesheet', href='/' + shaTag + '/stylesheets/app.css')
    script.
      var DEXECURE_URL = "/dexecure-c167a5675c.js";
      "serviceWorker"in navigator&&navigator.serviceWorker.register(DEXECURE_URL,{scope:'/'}).then(function(e){"/"!=new URL(e.scope).pathname&&console.log("Service worker scope is not /")})["catch"](function(e){console.log("Unable to register service worker.");console.log(e)});
      // Placeholder for iPad, which inspects the user object at the bottom of an injected page.
    script(src='/' +  shaTag + '/javascripts/vendor.js', defer='')
    script(src='/' + shaTag + '/javascripts/app.js', defer='')
    script(src='/user-data?sha=' + shaTag)

    block setup
    block script-start
      script.
        function onLoad() {
          try {
              // IE10 warning
              var htmlElement = document.querySelector("html");
              if (htmlElement) {
                  if ($.browser.msie && $.browser.versionNumber < 11) {
                      if ((window.location.pathname || "").indexOf("web-dev-level") < 0) {
                          alert("CodeCombat does not run in Internet Explorer 10 or older. Sorry!");
                      }
                  }
              }
              // IE8 can't handle this
              FastClick.attach(document.body);
          } catch (error) { }
          require('core/initialize');
        }
  body.clearfix(onload='onLoad();')
    #fb-root
    block content
    #modal-wrapper.modal-content.hide
    #module-load-progress.progress
      .progress-bar
    // CodePlay Tags Footer 
